<div>[[!meta title="Manually upgrade by cloning from another Tails"]]</div>

[[!meta robots="noindex"]]
[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="install/inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="install/inc/stylesheets/overview" rel="stylesheet" title=""]]
[[!meta stylesheet="install/inc/stylesheets/upgrade-clone" rel="stylesheet" title=""]]

[[!inline pages="install/inc/overview" raw="yes" sort="age"]]

[[
<div class="panel panel-primary">
  <div class="panel-body">Let's go!</div>
</div>
|upgrade/clone]]

<div class="clearfix"></div>
